<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate New Table</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Generate New Table</h1>
    <nav>
      <a href="{{ url_for('courses') }}">Course List</a><br />
      <a href="{{ url_for('timetable') }}">Courses Table</a><br />
      <a href="{{ url_for('add_course') }}">Add Course</a><br />
      <a href="{{ url_for('edit_course')}}">Edit Course</a><br />
      <a href="{{ url_for('edit_pre') }}">Edit Preferences</a><br />
      <a href="{{ url_for('index') }}">Home Page</a><br />
    </nav>
  </body>
</html>
